# Langkah 0 - Import Library

In [1]:
import pandas as pd # Import Library Pandas  dan memberi alias sebagai pd
from sklearn.preprocessing import LabelEncoder, StandardScaler # Import Library LabelEncoder dan StandardScaler

# Langkah 1 - Load Data

In [2]:
dpath = 'static/Titanic-Dataset-fixed.csv' # Mengambil Path file CSV
df = pd.read_csv(dpath) # Mengimport data CSV ke dalam objek DataFrame
df.head() # Menampilkan Tabel dengan 5 data teratas

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,DECK,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,DECK,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,DECK,S

# Langkah 2 - Slice Data

In [3]:
df = df[['Survived', 'Pclass', 'Age', 'Sex', 'Cabin']] # Mengambil Dataframe dengan data hanya dari Kolom Survived, Pclass, Age, Sex, Cabin
df.head() # Menampilkan Tabel dengan 5 data teratas

   Survived  Pclass   Age     Sex Cabin
0         0       3  22.0    male  DECK
1         1       1  38.0  female   C85
2         1       3  26.0  female  DECK
3         1       1  35.0  female  C123
4         0       3  35.0    male  DECK

In [4]:
import dataframe_image as dfi # Import library dataframe_image dan memberi alias sebagai df
dfi.export(df.head(), 'slice_featarue.png')

FileNotFoundError: [WinError 2] The system cannot find the file specified

# Langkah 3 - Encoding
Encoding pada "Sex" dan "Cabin"

In [ ]:
le = LabelEncoder() # membuat objek dari LabelEncoder
df['Sex'] = le.fit_transform(df['Sex']) # proses encoding merubah nilai kolom Sex menjadi numerik
df['Cabin'] = le.fit_transform(df['Cabin']) # proses encoding merubah nilai kolom Cabin menjadi numerik

# Langkah 4 - Verifikasi Hasil

In [ ]:
df.head() # Menampilkan Tabel dengan 5 data teratas

   Survived  Pclass   Age  Sex  Cabin
0         0       3  22.0    1    115
1         1       1  38.0    0     81
2         1       3  26.0    0    115
3         1       1  35.0    0     55
4         0       3  35.0    1    115

# Langkah 5 - Standarisasi

In [ ]:
std = StandardScaler() # Membuat objek StandardScaler
df['Age'] = std.fit_transform(df[['Age']]) # Merubah nilai data kolom 'Age' dengan rata-rata sekitar 0 dan deviasi standar sekitar 1

# Langkah 6 - Verifikasi Hasil Standarisasi

In [ ]:
df.head() # Menampilkan Tabel dengan 5 data teratas

   Survived  Pclass       Age  Sex  Cabin
0         0       3 -0.592481    1    115
1         1       1  0.638789    0     81
2         1       3 -0.284663    0    115
3         1       1  0.407926    0     55
4         0       3  0.407926    1    115